body {
background: url("../images/images.jpg");
background-size:     cover;                    
background-repeat:   no-repeat;
background-position: center center;

}

#syfyGifs {
    padding: inherit;
}